* {
    box-sizing: border-box;
}

body, html, .wrapper{
    height: 100%;
    background-color: #eae3d2;
    padding: 5px;
    padding-left: auto;
    padding-right: auto;
}

.title, h1 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    background-color: #c04641;
    display: inline-block;
    align-content: center;
    margin: 8px 45%;
    text-align: center;
    padding: 0 5px;
    border-radius: 2rem;

}

.first-list, 
.scnd-list {
    font-size: 18px;
    background-color: #f1cbcd;
    border-radius: 2em;
    
    
}

.a {
    position: absolute;
    left: 50%;  
    background-color: #f1cbcd;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 30px;
}
     

p {
    font-size: 18px;
    background-color: #f1cbcd;
    border-radius: 2em;
    padding: 10px 20px;
}

div {
    text-align: center;
    background-color: #f1cbcd;
    border-radius: 2em;
    margin: 8px;
    

}




/*font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #c04641;
    display: grid;
    place-items: center;
    margin: 8px 200px ;
    padding: 10px;
    border-radius: 2rem; */