body {
    background-color:	#bd162c;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
}

h1,
h2 {
    background-color: #faeac3;
    text-align: center;
}

ul,
ol {
    color: #faeac3;
}

p {
    color: #faeac3;
}

div {
    text-align: center;
}

.a {
    position: absolute;
    left: 50%;  
    font-size: 30px; 
    color: white;
}